footer {
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	padding: 3px;
	background-color: DarkSalmon;
	color: white;
}

.fullcontent {
	margin-bottom: 100px;
}